@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    color: #000;
    text-align: center;
    font-family: 'Raleway';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 42px 0;
}

h4 {
    color: #000;
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

h5 {
    color: #000;
    font-family: 'Raleway';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #86878B;
    font-family: 'Raleway';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}

a {
    font-family: 'Open Sans', sans-serif;
    /* font-weight: 600; */
    text-decoration: none;
}

section {
    padding: 30px 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
/* header */
header {
    background-color: #000;
    padding: 30px 15px;
}
.page__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    display: flex;
}

.nav li {
    list-style-type: none;
    padding: 0px 30px;
}
.nav a {
    color: #FFFFFF;
    font-size: 14px;
    
}
/* <!-- SOCIALMEDIABANNER --> */
.social {
    display: flex;
    justify-content: space-between;
    background-color:  #F8EFEF;
    margin-top: 0;
    padding: 5px 0;
}

.social ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.social_text h4 {
    color: #333;
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 18px;
}

.social_text p {
    margin-bottom: 18px;
}

.social_links {
    display: flex;
    align-items: center;
}

.social svg {
    width: 70px;
    height: 70px;
    fill: #CCCCCC;
    transition: .3s;
}

.social svg:hover {
    fill: #f10d0d;
    transform: scale(1.3);
}
/* TABS */
.button a {
    width: 270px;
    height: 70px;
    display: flex;
    transition: .3s;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button--coral a {
    background-color: #EC7979;
    color: #fff;
    border: 2px solid #EC7979;
}

.button--coral a:hover {
    background-color: transparent;  
    color: #EC7979;
}

.button--coral a:active {
    border-color: #AB4949;
    background-color: #AB4949;
    color: #fff;
}

.tabs_elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tabs_element {
    padding: 10px;
    width: calc(100%/6);
    text-align: center;
    border-bottom: 1px solid #C6CBCD;
}

.tabs_element p {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Open Sans';
    color: #333;
    text-align: center;
    font-style: normal;
    line-height: normal;
}

.tabs_content__lead h2 {
    color: #000;
    font-family: 'Open Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: none;
    padding: 0;
    text-align: start;
}

.tabs_element.active {
    border: 1px solid #C6CBCD;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabs_content {
    display: flex;
    flex-direction: row;
    /* padding: 15px; */
    border: 1px solid #C6CBCD;
    border-top: 0;
}

.tabs_content__left {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    /* width: 100%; */
    padding: 55px 30px 55px 100px;
    gap: 25px;
}

.tabs_content__lead {
    text-align: left;
    margin-bottom: 30px;
    color: #000;    
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tabs_content__text {
    text-align: left;
}



.tabs_content__right {
    max-width: 40%;
    width: 100%;
}

.tabs_content__image {
    height: 100%;
}

.tabs_content__image img {
    object-fit: cover;
    height: 100%;
}
/*  <!-- Pricing options --> */
.price {
    background-color:  #F5F5F5;
}
.block_header {
    position: relative;
    text-align: center;
    margin-bottom: 80px;
    /* padding-top: 50px; */
}


.separator h2{
    position: relative;
    margin-bottom: 40px;
}
.separator h2:after {
    content: '';
    position: absolute;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    bottom: 0;
    right: calc(50% - 170px / 2);
}


.container_price__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #86878B;
    text-align: center;
    font-family: 'Raleway';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container_price__content p{
    padding: 0;
    margin-bottom: 79px;
}

.price__list {
    display: flex;
    flex-direction: row;
    /* align-items: end; */
    justify-content: center;
    gap: 31px;
    margin-bottom: 50px;
    width: 100%;
}

.price_el {
    margin: 10px auto;
    width: calc((100% / 3) - 15px);
}

.price_el li {
    padding: 15px;
    border: 1px solid #F5F5F5;
    list-style-type: none;
    background: #FFF;
}

.optima li:nth-child(-n+3), .pro li:nth-child(-n+3), .basic li:nth-child(-n+3){
    background-color: #333333;
    color: #FFF;
    text-align: center;
    font-family: 'Raleway';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.optima li:nth-child(3), .pro li:nth-child(3), .basic li:nth-child(3) {
    color: rgba(255, 255, 255, 0.50);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
}

.optima li:first-child, .pro li:first-child, .basic li:first-child{
font-family: 'Open Sans';
font-size: 24px;
text-transform: capitalize;
}

.price_el ul {
    transition: .6s;
    position: relative;
    top: 0;
}
.price_el:hover ul {
    top: -50px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 150, 240, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
/* <!-- SOCIALFOOTER --> */
.social_end {
    display: flex;
    background-color: #000000;
    flex-direction: column-reverse;
    align-items: center;
}

.social_end ul {
    display: flex;
    list-style-type: none;
    gap: 32.8px;
    padding-top: 35px;
}

.social_end svg {
    width: 54px;
    height: 54px;
    fill: #CCCCCC;
    transition: .3s;    
}

.social_end svg:hover {
    margin: -5px;
    fill: #92f70d;
    /* transform: scale(1.3); */
    /* transform: rgb(251, 255, 0), scale(1.3); */
}

.social_end_text {
    margin: 27px 0;
}

.social_end_text {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: 'Raleway';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.customers_reply__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customers_reply__content {
    display: flex;
    flex-direction: row;
}

.customers_el {
    width: calc(100%/3);
    margin: 0 15px 0 15px;
    
}
.customers_el p {
    text-align: center;
    border-radius: 10px;
    background: #E2E2E2;
    padding: 38px 0;
    margin-bottom: 66px;
    position: relative;
}

.customers_el p:first-child::after {
    position: absolute;
    content: '';
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 45px solid #E2E2E2;
    left: 15%;
    top:100%;
}

.customers_pfp {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 64px; 
}

.customers_pfp img {
    border-radius: 70px;
    width: 70px;
    height: 70px;
    max-width: 100%;
    object-fit:cover;   
}

.customers_pfp div h4{
    padding-bottom: 15px;
}

.block_header--stylewhite h2, .block_header--stylewhite p {
    color: #fff;
}

.block_header--stylewhite.separator h2::after {
    background-color: #fff;
}

.stylish_design {
    background-image: url('/assets/images/secback.jfif');
    background-size: cover;
    background-position: center;
    position: relative;
}

.stylish_design::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000050;
    z-index: 1;
}



.button--white {
    position: relative;
    z-index: 10;
    padding-bottom: 50px;
} 

.block_header--stylewhite {
    position: relative;
    z-index: 10;
}

.button--white a {
    width: 370px;
    height: 58px;
    display: flex;
    transition: .3s;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    border: 2px solid #ffffff;
    margin: 0 auto;
}


.button--white a:hover {
    background-color: transparent;  
    color:  #EC7979;
    border-color: #EC7979;
}

.button--white a:active {
    border-color: #AB4949;
    background-color: #AB4949;
    color: #fff;
}

.sendmessagebtn {
    background-color: #EC7979;
    color: #fff;
    border: 2px solid #EC7979;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    width: 370px;
    height: 58px;
    margin: 50px auto;
    display: block;
}

.contact_us {
    padding-bottom: 0;
}


.contact_us_form__wrap {
    display: flex;
    gap: 30px;
}

.contact_us_form__column:first-child {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 50px;
}

.contact_us_form__column:last-child {
    width: 50%;
}

input, textarea {
    border: 0;
    outline: none;
    border-bottom:1px solid #BDBDBD;
}

.contact_us_form input, textarea {
    padding-bottom: 16px;
}

input::placeholder, textarea::placeholder {
    color: #BDBDBD;
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

textarea {
    resize: none;
    height: 100%;
    width: 100%;
}

.awesome__column h2 {
    color: #000;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.awesome__column p {
    color: #000;
    text-align: center;
}

.awesome__wrap {
    display: flex;
    gap: 20px;
}

.awesome__column {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.awesome__iamge {
    margin: 0 auto;
    border: 1px solid #EC7979;
    border-radius: 80px;
    width: 92px;
    height: 92px;
    object-fit: scale-down;
}

.main_page {
    background-image: url('https://s3-alpha-sig.figma.com/img/5269/5f67/65533b84bd89e551da8d835ef3a5197a?Expires=1704672000&Signature=RX8RI~aHmfxXr77cB1j7cnKYgyM~oMh08ZlfueSEPi2wXnNdK1M0RBMu2GnFFoJnKyppliQjptXVBCiPZ70ThydlOOcpzuouxZI77tX93zwN9xrsgwQSb7zoFFmo8Wn3KySvA2RSN5dOsXthVJ-qYUIpIaH586ok~3g2y79YQ4Zll-qbc1moR5ZKLX4-MBOHr3HfrXDthYkrZRtiCsKp1NWzr2oDne3mEpS0ewHB~KkapWQw6FD3sFx9xR26ceM6wl-ge-js3JDgBf50meg810a2uVyE7OoGG~XWghrHT5eCzTwn38RVembrcTAvE7prK7xBqo2DB5GzynUv28titg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4') ; 
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
}
.main_page h2, .main_page p {
    text-align: left;
}

.main_page .block_header p {
    width: 270px;
    padding-bottom: 42px;
}

.main_page .separator h2:after  {
    left: 0;
}

.main_page_wrap {
    z-index: 10;
}
.main_page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000050;
    z-index: 1;
}

.main_page__banner {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.main_page__banner .block_header{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 50%;
} 

.main_page__regwindow {
    background-color: #FFF;
    z-index: 10;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 20px 50px 75px;
    position: relative;
}

.main_page button {
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    top: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main_page__regwindow p {
    color: #333;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 45px;
}

span {
    color: #EC7979;
}

.registration__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

.registration__column input {
    width: 100%;
    z-index: 10;
    padding-bottom: 16px;
}

.registration__column  {
    z-index: 10;
    margin: 0 auto;
}
.main_page .button--white a {
    width: 270px;
}

@media (max-width: 1200px) {
    p {
        font-size: 14px;
    }

    h2 {
        font-size: 24px;
    }

    .social svg {
        width: 64px;
        height: 64px;
    }
    .social ul {
        gap: 20px;
    }

    .tabs_content__lead h2 {
        font-size: 24px;
    }

    .awesome__column h2 {
        font-size: 18px;
    }
    .button a {
        width: 231.87px;
        height: 58px;
    }

    .button--white a {
        width: 318px;
        height: 58px;
    }

    .sendmessagebtn {
        width: 318px;
        height: 58px;
    }
    .price__list {
        gap: 20px;
    }

    .awesome__iamge {
        width: 79.55px;
        height: 79.55px;
    }

    .social_end svg {
        width: 45px;
        height: 45px;
    }

    .social_end ul {
        gap: 27px;
    }

    .social_end_text {
        font-size: 14px;
    }

}

@media (max-width: 655px) {
    
    .main_page__banner {
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    margin-top: 0;
    }

    .main_page__banner .button--white {
        padding-bottom: 0;
    }

    .main_page .separator h2:after {
        left: auto;
    }
    .main_page h2, .main_page p {
        text-align: center;
    }
    .main_page .logo {
        display: none;
      }
      .main_page__banner h2 {
        font-size: 36px;
    }
    .nav {
        display: none;
    }
    .social {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .main_page__regwindow {
        margin-bottom: 50px;
    }
    .social svg {
        width: 26px;
        height: 26px;
    }
    .social_end ul {
        gap: 17px;
    }
    .social_end svg {
        width: 26px;
        height: 26px;

    }

    .social_text h4 {
        text-align: center;
    }
    .social_text p {
        margin-bottom: 30px;
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
    }

    .button a {
        width: 231.87px;
        height: 58px;
    }

    .button--white a {
        width: 242.743px;
        height: 50px;
    }
    

    .tabs_content__image {
display: none;
    }
    .tabs_content__left {
        padding: 29px 24px;
        max-width: 100%;
    }

    .awesome__wrap {
        flex-direction: column;
        align-items: center;
    }
    .awesome__column {
        width: 100%;
    }
    .price_el {
        width: 100%;
    }
    .price__list {
        flex-direction: column;
    }
    .customers_reply__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .customers_el {
        width: 100%;
    }

    .contact_us_form__wrap {
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }
    .contact_us_form__column:first-child {
        width: 100%;
    }

    .contact_us_form__column:last-child {
            width: 100%;
            height: 180px;
        }

        
    
}
    


/* .element {
    display: none;
  }
} */
/* \     */